<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header centered"><%=blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <div class="image">
                <img class=" big ui centered rounded image" src="<%=blog.image%>">
            </div>
            <div class="content">
                <div class="meta">
                    <span><%=blog.created%></span>
                </div>
                <p><%-blog.body%></p>
            </div>
            <a class="ui positive basic button"href="/blogs/<%=blog._id%>/edit">Edit</a>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE"method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>